<div class="indexPage">
    <div class="buttonNeonContainer">
        <a routerLink="/launches">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Voir les Lancements
        </a>
        <a routerLink="/capsules" >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Voir les Capsules
        </a>
    </div>
    <section class="stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </section>
</div>